* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1140px;
  .header {
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    position: fixed;
    background: white;
    box-shadow: 0 1px 15px -1px #bfbfbf;
    .container {
      height: 71px;
      .header-logo {
        font-size: 24px;
        font-weight: 600;
        cursor: pointer;
      }
      .header-menu {
        svg {
          cursor: pointer;
          path {
            stroke: black;
            &:hover {
              fill: black;
            }
          }
        }
        button {
          width: 200px;
          height: 32px;
          font-size: 14px;
          cursor: pointer;
          margin-left: 30px;
          border-radius: 5px;
          background: transparent;
          text-transform: uppercase;
          border: 1px solid black;
        }
      }
    }
  }
  .main {
    margin: 110px 0 20px 0;
    &-title {
      margin-bottom: 20px;
      h1 {
        font-size: 24px;
        font-weight: 700;
      }
    }
    &-content {
      &__items {
        flex: 80%;
        gap: 20px;
        flex-wrap: wrap;
        justify-content: center;
      }
      &__sidebar {
        flex: 20%;
      }
    }
    &-paginate {
      list-style: none;
      border-radius: 12px;
      li {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        margin: 2px;
        border-radius: 20%;
        border: 1px solid #000;
        &.selected {
          border: none;
          background: #bfbfbf;
          a {
            color: #fff;
          }
        }
        &.disabled {
          cursor: inherit;
          opacity: 0.1;
          background: #bfbfbf;
        }
        &:hover {
          color: #fff;
          border: none;
          background: #bfbfbf;
        }
        a {
          padding: 10px 15px;
          font-weight: 600;
        }
      }
    }
  }
}
